[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this is for test
[access "refs/*"]
	owner = group user/rock12527
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rock12527
	label-Verified = -1..+1 group user/rock12527
	push = group user/rock12527
	read = group user/rock12527
	rebase = group user/rock12527
	removeReviewer = group user/rock12527
	submit = group user/rock12527
[access "refs/heads/*"]
	create = group user/rock12527
	push = +force group user/rock12527
	pushMerge = group user/rock12527
	read = group user/rock12527
[access "refs/tags/*"]
	push = group user/rock12527
	push = +force group user/rock12527
